<footer class="footer">
    <p class="note">Created by Diaa E. <a class="button-primary button-link" href="https://github.com/Diaa-E">My Github</a></p>
    <a class="button-primary button-link" href="https://github.com/Diaa-E/mini-message-board">Source Code</a>
</footer>