<li class="message-container">
    <p class="user-name"><%= message.user %></p>
    <p class="message-text"><%= message.text %></p>
    <p class="date"><%= convertMs(Math.abs(message.now - message.added)) %> ago</p>
</li>