<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <h1>Mini MEssage Board</h1>
    <a href="./new">Add a new Message</a>
    <ul>
        <% messages.forEach(message => {%>
            <li>
                <p><%= message.user %></p>
                <p><%= message.added %></p>
                <p><%= message.text %></p>
            </li>
        <%});%>
    </ul>
</body>
</html>