<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Message</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/newForm.css">
</head>
<body>
    <h1>Add a new Message</h1>
    <a class="button-primary" href="./">Home</a>
    <form class="new-form" action="/new" method="POST">

        <div class="form-row">
            <label for="user">User Name</label>
            <input class="text-box" type="text" required id="user"  name="user">
        </div>

        <div class="form-row">
            <label for="message">Message</label>
            <input class="text-box" type="text" required id="message" name="message">
        </div>

        <button class="button-primary" type="submit">Send</button>
    </form>
</body>
</html>