<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Message</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/newForm.css">
    <link rel="shortcut icon" href="./assets/images/favicon.svg" type="svg">
</head>
<body>
    <%- include("components/header") %>
    <div class="content">
        <h2 class="page-title">Add a new Message</h2>
        <a class="button-primary button-link" href="./">Home</a>
        <form class="new-form" action="/new" method="POST">
            <div class="form-row">
                <label for="user">Sender</label>
                <input class="text-box" type="text" required id="user"  name="user">
            </div>
            <div class="form-row">
                <label for="message">Message</label>
                <textarea  class="text-box" name="message" required id="message"></textarea>
            </div>
            <button class="button-primary" type="submit">Send</button>
        </form>
    </div>
    <%- include("components/footer") %>
</body>
</html>