@font-face {
    font-family: "title";
    src: url("../assets/fonts/Pinkend.ttf");
}

@font-face {
    font-family: "default";
    src: url("../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

*{
    font-family: var(--font-default);
}

:root{
    --bg: #E8D4B7;
    --bg-container: #e7e7e7 ;
    --text-dark: #1b1b1b;
    --text-light: #ededed ;
    --primary: #934790;
    --primary-hover: #6A0066;
    --border: solid 1px var(--text-dark);
    --shadow: 3px 3px var(--text-dark) ;

    --font-title: "title", sans-serif;
    --font-default: "default", arial;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90dvh;
    gap: 50px;
}

button{
    cursor: pointer;
}

.button-primary{
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--text-light);
    padding: 5px 20px;
    text-decoration: none;
    border: var(--border);
    font-size: 1rem;
}

.button-primary:hover{
    background-color: var(--primary-hover);
    box-shadow: var(--shadow);
}

.page-title{
    font-family: var(--font-title);
    color: var(--primary);
    font-size: 3rem;
    font-weight: normal;
}