body{
    background-color: var(--bg);
}

.message-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.message-container{
    display: flex;
    background-color: var(--bg-container);
    padding: 10px 20px;
    border-radius: 5px;
    border: var(--border);
    min-width: 700px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.message-container:hover{
    box-shadow: var(--shadow);
}

.user-name{
    color: var(--primary);
    font-size: 1.2rem;
    width: 100px;
    max-width: 70px;
    word-wrap: break-word;
}

.message-text{
    color: var(--text-dark);
    font-size: 1rem;
    width: 300px;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: no-wrap;
}

.date{
    font-style: italic;
    font-size: .8rem;
    color: var(--text-grey);
}