body{
    background-color: var(--bg);
}

.message-container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-container);
    padding: 10px 20px;
    border-radius: 5px;
    border: var(--border);
    width: 80dvw;
    gap: 20px;
}

.user-name{
    color: var(--primary);
    font-size: 1.2rem;
}

.message-text{
    color: var(--text-dark);
    font-size: 1rem;
    max-width: 80dvw;
    text-wrap: wrap;
    word-wrap: break-word;
}

.date{
    font-style: italic;
    font-size: .8rem;
    color: var(--text-grey);
    margin-top: 20px;
    text-align: right;
}